.header{
    margin-top: 20px;
}

a{
    text-decoration: none;
    
}

.main{
    height: 600px;
}
h2{
    text-align: center;
}

.row table{
    width: 80%;
    
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

label.error{
    color: red;
}

